@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  /* background-color: #111827; */
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]::-webkit-file-upload-button {
  color: #f8f6f4;
  background-color: #576cbc;
  padding: 14px 10px;
  outline: none;
  border: none;
}

/* #111827 */
/* #0B2447 */
/* #19376D */
/* #576CBC */
/* #A5D7E8 */
/* #BCDDDF */
/* #C4DFDF */
/* #D2E9E9 */
/* #E3F4F4 */
/* #F8F6F4 */
